<div class="row">
    <div class="col-md-2" style="text-align: center;">
        <h5><b>Customers</b></h5>
    </div>
    <div class="col-md-2" style="text-align: center;  ">
        <select class="form-control form-control-sm custom-input-style">
            <option>Category</option>
        </select>
    </div>
    <div class="col-md-2" style="text-align: center;">
        <select class="form-control form-control-sm custom-input-style">
            <option>Product</option>
        </select>
    </div>
    <div class="col-md-3" style="text-align: center;  ">
        <input class="form-control form-control-sm custom-input-style" type="text" placeholder="Quick Search">
    </div>
    <div class="col-md-2" style="text-align: right;">
        <h5><span class="badge badge-pill bg-info"><a href="#" style="text-decoration: none; color: white;">+ Add
                    product</a></span>
        </h5>
    </div>
    <div class="col-md-1" style="text-align: right;">
        <span class="badge badge-pill badge-info"><i class='fas fa-info'></i></span>
        <span class="badge badge-pill badge-info"><i class='fas fa-filter'></i></span>
    </div>
</div>

<div class="row list-custom-headings bg-info">
    <div class="col-md-1">#</div>
    <div class="col-md-2">Customer Name</div>
    <div class="col-md-2">Address</div>
    <div class="col-md-2">Mobile</div>
    <div class="col-md-2">Email</div>
    <div class="col-md-2">Total Unpaid</div>
</div>
<hr>

<div *ngFor="let product of pageOfCustomers; let i = index">

    <div id="{{i}}">
        <div class="row" style="margin-top: 2%; text-align: center;">
            <div class="col-md-1"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
            <div class="col-md-2"> <input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="product.customerName"></div>
            <div class="col-md-2"><input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="product.address"></div>
            <div class="col-md-2"><input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="product.mobile"></div>
            <div class="col-md-2"><input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="product.email"></div>
            <div class="col-md-2"><input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="product.pendingPayment"></div>
            <div class="col-md-1">
                <span class="badge badge-pill badge-info"><i class='fas fa-angle-down' id="{{i}}_down"
                        (click)="expandProduct(i)"></i><i class='fas fa-angle-up' id="{{i}}_up"
                        (click)="restoreProduct(i)" style="display: none;"></i></span>
            </div>
        </div>

        <div id="{{i}}_content" class="row" style=" display: none; margin: 2% 1%;">

            <table class="table">
                <thead class="bg-info">
                    <th>#</th>
                    <th>Invoice Id</th>
                    <th>Date</th>
                    <th>GST</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Unpaid</th>
                </thead>
                <tbody>
                    <tr *ngFor="let inventory of product.invoices; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{inventory.invoiceId}}</td>
                        <td>{{inventory.invoiceDate | date}}</td>
                        <td><i class='fas fa-rupee-sign'></i>{{inventory.gst}}</td>
                        <td><i class='fas fa-rupee-sign'></i>{{inventory.total}}</td>
                        <td><i class='fas fa-rupee-sign'></i>{{inventory.paid}}</td>
                        <td><i class='fas fa-rupee-sign'></i>{{inventory.total-inventory.paid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
    </div>
</div>
<div class="col-md-12 text-info" style="bottom: 0; width: 100%;">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            <li class="page-item" (click)="changePageContent(currPage-1)">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li *ngFor="let page of pages" class="page-item" (click)="changePageContent(page)">
                <a class="page-link" [ngClass]="page==currPage?'active-pagination':''">{{page}}</a>
            </li>
            <li class="page-item" (click)="changePageContent(currPage+1)">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="col-md-12" style="bottom: 0; width: 100%;">
    <h5>
        <span class="badge badge-pill bg-info"><a href="#" style="text-decoration: none; color: white;">Save
            </a></span>&nbsp;
        <span class="badge badge-pill bg-info"><a href="#"
                style="text-decoration: none; color: white;">Delete</a></span>
    </h5>
</div>