*{
    font-size: 12px;
  }
  .custom-input-style{
         border: 1px solid rgb(23, 162, 184);
         font-size: 12px;
      }
      .list-custom-headings{
        margin-top: 3%; 
        font-weight: bold; 
        text-align: center;
        padding: 1%;
        border-radius: 5px;
        font-size: 12px;
      }
      .active-custom-style{
       color: rgba(25,164,186,1);
      }
  .boxShadow{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(23, 162, 184,.3);
      }
    .active-pagination{
    background-color:  rgb(233, 236, 239);
    color: white;
  }