<app-loading *ngIf="isLoading">{{ isLoading }}</app-loading>
<app-alerts></app-alerts>
<div class="row">
    <div class="col-md-2" style="text-align: center;">
        <h5><b>Category</b></h5>
    </div>
    <div class="col-md-1" style="text-align: center;  ">
        <input class="form-control form-control-sm custom-input-style" type="text" [(ngModel)]="recPerPage"
        (ngModelChange)="changeRecPerPage()" placeholder="Record per page" />
    </div>
    <div class="col-md-3" style="text-align: center;">
        <!-- <select class="form-control form-control-sm custom-input-style">
          <option>Product</option>
        </select> -->
    </div>
    <div class="col-md-3" style="text-align: center;  ">
        <input class="form-control form-control-sm custom-input-style" type="text" placeholder="Quick Search"
            [(ngModel)]="categoryFilterText" (ngModelChange)="getFilteredList(categoryFilterText)"/>

        <span class="custom-right-dropdown custom-side-nav card" [hidden]="!batchDropDowns[i]">
            <small *ngFor="let batch of filteredBatchNos; let j = index">
                <a class="text-info custom-right-dropdown-content nav-link" (click)="selectItem(batch,i,product)"
                    [ngClass]="{'select-item-style':j==selectedIndex}">{{batch}}</a>
            </small>
        </span>
    </div>
    <div class="col-md-2" style="text-align: right;">
        <h5>
            <span class="badge badge-pill bg-info"><a routerLink="/Add-category"
                    style="text-decoration: none; color: white;" data-toggle="modal" data-target="#exampleModal"
                    data-toggle="modal" data-target="#exampleModal">+ Add
                    category</a></span>
        </h5>
    </div>
    <div class="col-md-1" style="text-align: right;">
        <span class="badge badge-pill badge-info"><i class="fas fa-info"></i></span>
        <!-- <span class="badge badge-pill badge-info"><i class="fas fa-filter"></i></span> -->
    </div>
</div>

<div class="row list-custom-headings bg-info">
    <div class="col-md-1">#</div>
    <div class="col-md-3">Category Name</div>
    <div class="col-md-3">Display Name</div>
    <div class="col-md-4">Description</div>
    <!-- <div class="col-md-2">Category</div>
          <div class="col-md-2">Stock</div> -->
</div>
<hr />

<div *ngFor="let category of pageOfCategories; let i = index">
    <div id="{{i}}">
        <div class="row" style="margin-top: 2%; text-align: center;">
            <div class="col-md-1">
                <input (change)="toggleStatus()" [(ngModel)]="categoryCheckboxStatus[category.categoryId]"
                    class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            </div>
            <div class="col-md-3">
                <input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="category.categoryName"
                    (ngModelChange)="addCategoryToUpdate(category.categoryId,'categoryName',category.categoryName)" />
            </div>
            <div class="col-md-3">
                <input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="category.categoryDispName"
                    (ngModelChange)="addCategoryToUpdate(category.categoryId,'categoryDispName',category.categoryDispName)" />
            </div>
            <div class="col-md-4">
                <input class="form-control form-control-sm custom-input-style" type="text"
                    [(ngModel)]="category.categoryDescription"
                    (ngModelChange)="addCategoryToUpdate(category.categoryId,'categoryDescription',category.categoryDescription)" />
            </div>
        </div>
    </div>
    <hr />
</div>
<div class="row">
<div class="col-md-12 text-info" style="bottom: 0; width: 100%;">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            <li class="page-item" (click)="changePageContent(currPage-1)">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li *ngFor="let page of pages" class="page-item" (click)="changePageContent(page)">
                <a class="page-link" [ngClass]="page==currPage?'active-pagination':''">{{page}}</a>
            </li>
            <li class="page-item" (click)="changePageContent(currPage+1)">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="col-md-12" style="bottom: 0; width: 100%; right: 0;">
    <h5>
        <span class="badge badge-pill bg-info"><a (click)="updateSelectedCategories()"
                style="text-decoration: none; color: white; cursor: pointer;">Save
            </a></span>&nbsp;
        <span class="badge badge-pill bg-info"><a (click)="deleteSelectedCategories()"
                style="text-decoration: none; color: white; cursor: pointer;">Delete</a></span>&nbsp;
        <span class="badge badge-pill bg-info"><a (click)="populateCategoryCheckboxStatuses()"
                style="text-decoration: none; color: white; cursor: pointer;">Clear</a></span>
    </h5>
</div>
</div>