<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>Customer Name :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.customerName" type="text" class="form-control form-control-sm"
            placeholder="Customer Name">
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>UID No :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.uidNo" type="text" class="form-control form-control-sm"
            placeholder="UID No">
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>State :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.state" type="text" class="form-control form-control-sm"
            placeholder="State">
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>District :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.district" type="text" class="form-control form-control-sm"
            placeholder="District">
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>City :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.city" type="text" class="form-control form-control-sm"
        placeholder="City">
        <!-- <input [(ngModel)]="productObj.categoryName" (ngModelChange)="getFilteredList(productObj.categoryName,1)"
            (blur)="toggleListDisplay(0,1,productObj)" (focus)="toggleListDisplay(1,1,productObj)"
            (keyup)="onKeyPress($event,1,productObj)" type="text" class="form-control form-control-sm"
            placeholder="categoryName">
        <span class="custom-right-dropdown custom-side-nav card" [hidden]="!batchDropDowns[1]">
            <small *ngFor="let batch of filteredCategoryList; let j = index">
                <a class="text-info custom-right-dropdown-content nav-link"
                    (click)="selectItem(batch,1,productObj)"
                    [ngClass]="{'select-item-style':j==selectedIndex}">{{batch}}</a>
            </small>
        </span> -->
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>Village :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.village" type="text" class="form-control form-control-sm" placeholder="Village">
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>PIN Code :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.pinCode" type="text" class="form-control form-control-sm" placeholder="PIN code">
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>Mobile No :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.phone" type="text" class="form-control form-control-sm" placeholder="Mobile No">
    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>Email :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.email" type="text" class="form-control form-control-sm"
        placeholder="Email">
    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>GSTIN No :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.gstNo" type="text" class="form-control form-control-sm"
        placeholder="GSTIN No">
    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <p>PAN No :</p>
    </div>
    <div class="col-md-3">
        <input [(ngModel)]="customerDetObj.panNo" type="text" class="form-control form-control-sm"
        placeholder="Pan No">
    </div>
</div><br>

<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-3">
        <span style="cursor: pointer" class="badge badge-pill bg-info"><a (click)="addCustomer()"
                style="text-decoration: none; color: white;">Save
            </a></span>&nbsp;
        <span class="badge badge-pill bg-info"><a href="#" style="text-decoration: none; color: white;">Clear</a></span>
    </div>
</div>
