.custom-input-style{
    border: 1px solid rgb(23, 162, 184);
  }

  .list-custom-headings{
    margin-top: 3%; 
    font-weight: bold; 
    text-align: center;
    padding: 1%;
    border-radius: 5px;
  }
.active-pagination{
background-color:  rgb(233, 236, 239);
color: white;
}
small{
font-size: 12px;
}

.custom-right-dropdown{
position:relative;
z-index: 1000;
background-color: white;
text-align: center;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.select-item-style{
background-color:  rgb(233, 236, 239);;
}