 *{
   font-size: 12px;
 }
 .custom-input-style{
      border: 1px solid rgb(23, 162, 184);
      font-size: 11px;
    }

    .list-custom-headings{
      margin-top: 3%; 
      font-weight: bold; 
      text-align: center;
      padding: 1%;
      border-radius: 5px;
    }
  .active-pagination{
  background-color:  rgb(233, 236, 239);
  color: white;
}