<app-alerts></app-alerts>
<app-loading *ngIf="isLoading">{{ isLoading }}</app-loading>
<div id="main-content">
<div class="row">
    <div class="col-md-3" style="text-align: center;">
      <h5><b>New Sales Invoice</b></h5>
      <!-- <p class="text-info">#{{invoiceId}}</p> -->
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>Receipt No</label>
        <input type="text" class="form-control form-control-sm custom-input-style"  
         [(ngModel)]="customerDet.invoices[0].invoiceId" aria-describedby="emailHelp" placeholder="Receipt No">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Receipt Date</label>
        <input type="date" class="form-control form-control-sm custom-input-style" value="{{customerDet.invoices[0].invoiceDate|date:'yyyy-MM-dd'}}"
        [(ngModel)]="customerDet.invoices[0].invoiceDate" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Customer Name</label>
        <input type="text" class="form-control form-control-sm custom-input-style"  
          [(ngModel)]="customerDet.customerName" (ngModelChange)="getFilteredCustomerList(customerDet.customerName)" 
          aria-describedby="emailHelp" placeholder="Customer Name" (blur)="toggleCustomerListDisplay(0,customerDet)"
          (focus)="toggleCustomerListDisplay(1,customerDet)" (keyup)="onKeyPressCustomer($event,customerDet)">
        <span class="custom-right-dropdown custom-side-nav card" [hidden]="!customerListDropDown">
          <small *ngFor="let customer of filteredCustomerList; let j = index">
            <a class="text-info custom-right-dropdown-content nav-link"
              (click)="selectFromCustomerDropDown(customer.customerName,customer)"
              [ngClass]="{'select-item-style':j==selectedIndex}">{{customer.customerName}}</a>
          </small>
        </span>
      </div>
    </div>
    <div class="col-md-1">
      <br>
      <span class="badge badge-pill bg-info" style="margin-top: 12px;;"><a style="text-decoration: none; color: white;">New Customer
      </a></span>
    </div>
  </div>
  
  <div class="row list-custom-headings bg-info">
    <div class="col-md-1">#</div>
    <div class="col-md-2"><small><b>Batch No.</b></small></div>
    <div class="col-md-2"><small><b>Item Name</b></small></div>
    <div class="col-md-2"><small><b>Exp Date</b></small></div>
    <div class="col-md-1"><small><b>Qty</b></small></div>
    <!-- <div class="col-md-1"><small><b>Price</b></small></div> -->
    <div class="col-md-1"><small><b>Rate</b></small></div>
    <div class="col-md-1"><small><b>GST</b></small></div>
    <!-- <div class="col-md-1"><small><b>Disc</b></small></div> -->
    <div class="col-md-1"><small><b>Total</b></small></div>
  </div>
  <hr>
  <div *ngFor="let product of customerDet.invoices[0].productsList; let i = index">
    <div id="{{i}}">
      <div class="row" style="margin-top: 2%; text-align: center;">
        <div class="col-md-1"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
        <div class="col-md-2">
            <small><input class="form-control form-control-sm custom-input-style" type="text"
              placeholder="Batch Number.." [(ngModel)]="product.batchNo" 
              (ngModelChange)="getFilteredBatchNoList(product.batchNo)"(blur)="toggleBatchNoListDisplay(0,i,product)"
              (focus)="toggleBatchNoListDisplay(1,i,product)" (keyup)="onKeyPressBatchNo($event,i,product)"></small>
            <span class="custom-right-dropdown custom-side-nav card" [hidden]="!batchNoDropDwns[i]" style="width: 85%;">
                <small *ngFor="let batch of filteredBatchNos; let j = index">
                  <a class="text-info custom-right-dropdown-content nav-link" (click)="selectBatchNo(batch,i,product)"
                    [ngClass]="{'select-item-style':j==selectedIndex}">{{batch}}</a>
                </small>
            </span>
        </div>
        <div class="col-md-2">
            <small><input class="form-control form-control-sm custom-input-style" type="text"
                [(ngModel)]="product.productName"
                placeholder="Item Name.."></small>
          <!-- <small><input class="form-control form-control-sm custom-input-style" type="text"
              [(ngModel)]="product.productName" (ngModelChange)="getFilteredList(product.productName)"
              placeholder="Item Name.." (blur)="toggleListDisplay(0,i,product)"
              (focus)="toggleListDisplay(1,i,product)" (keyup)="onKeyPress($event,i,product)"></small> -->
          <!-- <span class="custom-right-dropdown custom-side-nav card" [hidden]="!batchDropDowns[i]" style="width: 85%;">
            <small *ngFor="let batch of filteredProductList; let j = index">
              <a class="text-info custom-right-dropdown-content nav-link" (click)="selectItem(batch,i,product)"
                [ngClass]="{'select-item-style':j==selectedIndex}">{{batch}}</a>
            </small>
          </span> -->
        </div>
        <div class="col-md-2">
          <small><input class="form-control form-control-sm custom-input-style" type="date" 
            [(ngModel)]="product.expDate"  placeholder="Qty.."></small>
        </div>
        <div class="col-md-1">
          <small>
            <input class="form-control form-control-sm custom-input-style" type="text" [(ngModel)]="product.quantity"
              placeholder="Qty..">
            <small style="font-size: xx-small; color: grey;">In stock:200</small>
          </small>
        </div>
        <div class="col-md-1">
          <small><input class="form-control form-control-sm custom-input-style" type="text" [(ngModel)]="product.cost"
              placeholder="Cost"></small>
        </div>
        <div class="col-md-1 ">
          <small><input class="form-control form-control-sm custom-input-style" type="text" [(ngModel)]="product.gst"
              placeholder="GST"></small>
        </div>
        <div class="col-md-1 ">
          <small><input class="form-control form-control-sm custom-input-style" type="text" 
            [(ngModel)]="product.total" placeholder="Total" (focus)="calculateProdPrice(product,1)"></small>
        </div>
        <div class="col-md-1">
          <small> <span class="badge badge-pill badge-info" *ngIf="customerDet.invoices[0].productsList.length>1"
              (click)="removeProductFromInvoice(product)"><i class='fas fa-times'></i></span></small>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-11" style="bottom: 0; width: 100%;">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Disc Offered</label>
            <input [(ngModel)]="customerDet.invoices[0].discount" type="text" class="form-control form-control-sm custom-input-style"  
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>GST Amt</label>
            <input [(ngModel)]="customerDet.invoices[0].gstAmt" type="text" class="form-control form-control-sm custom-input-style"  
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Total</label>
            <input [(ngModel)]="customerDet.invoices[0].totalAmt" type="text" class="form-control form-control-sm custom-input-style"  
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Paid Amt</label>
            <input [(ngModel)]="customerDet.invoices[0].paidAmt" type="text" class="form-control form-control-sm custom-input-style"  
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Payment Mode</label>
          <select [(ngModel)]="customerDet.invoices[0].paymentType" class="form-control form-control-sm custom-input-style" style="height: 25px;">
            <option value="Cash">Cash</option>
            <option value="Card">Card</option>
            <option value="Cheque">Cheque</option>
          </select>
        </div>
        <div class="col-md-2" *ngIf="customerDet.invoices[0].paymentType==='Cheque' ">
          <div class="form-group">
            <label>Bank Name</label>
            <input [(ngModel)]="customerDet.invoices[0].bankName" type="text" class="form-control form-control-sm custom-input-style"  
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="col-md-2" *ngIf="customerDet.invoices[0].paymentType==='Cheque' ">
          <div class="form-group">
            <label>Acc No.</label>
            <input [(ngModel)]="customerDet.invoices[0].accNo" type="text" class="form-control form-control-sm custom-input-style"  
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="col-md-2" [hidden]="!(customerDet.invoices[0].paymentType==='Cheque') ">
          <div class="form-group">
            <label>Cheque No.</label>
            <input [(ngModel)]="customerDet.invoices[0].chequeNo" type="text" class="form-control form-control-sm custom-input-style"  
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-1 text-info">
      <span class="badge badge-pill bg-info"><a (click)="addProductIntoInvoice()"
          style="text-decoration: none; color: white;">Add More </a></span>
    </div>
  </div><br>
  <div class="col-md-12" style="bottom: 0; width: 100%;">
    <h5>
      <span class="badge badge-pill bg-info"><a style="text-decoration: none; cursor: pointer; color: white;" (click)="save()">Save
        </a></span>&nbsp;
      <span class="badge badge-pill bg-info"><a style="text-decoration: none; cursor: pointer; color: white;" (click)="printReceipt()" >Print
        </a></span>&nbsp;
      <span class="badge badge-pill bg-info"><a style="text-decoration: none; cursor: pointer; color: white;">Delete</a></span>
    </h5>
  </div>
</div>
  <div class="container" id="print-content" style="border: 1px solid rgba(222,226,230,1); display: none;">
           
    <div class="row">
        <div class="col-md-4" style="border-right: 1px solid rgba(222,226,230,1);">
            <div class="row" style="border-bottom: 1px solid rgba(222,226,230,1);">
                <div class="col-md-12">
                   <h6>Sales Invoice</h6>
                </div>
            </div>
            <p>Fertilizer L.No : LAFD09010177</p>
            <p>Insecticide L.No : LAFD09010177</p>
            <p>Seed L.No : LAFD09010177</p>
        </div>
        <div class="col-md-8" style="text-align: center;">
            <h4>Maha Krishi Agri Clinic</h4>
            <p>Shevgaon-Paithan road, near Nityaseva hospital, Shevgaon, Ahmednagar 414001</p>
            <p>(0241) - 2359447, 9898787678</p>
            <h5>GST No: 27AADFK9477E1Z0</h5>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid rgba(222,226,230,1);">
        <div class="col-md-8" style="border-right: 1px solid rgba(222,226,230,1)">
            <table>
                <tr>
                    <td>Customer Name </td>
                    <td> : {{customerDet.customerName}}</td>
                </tr>
                <tr>
                    <td>Address </td>
                    <td> : {{customerDet.city}}</td>
                </tr>
                <tr>
                    <td>GST No </td>
                    <td> : {{customerDet.gstNo}}</td>
                    <td>
                        
                    </td>
                    <td>Mobile No </td>
                    <td> : {{customerDet.phone}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td>Invoice No </td>
                    <td> : {{customerDet.invoices[0].invoiceId}}</td>
                </tr>
                <tr>
                    <td>Date </td>
                    <td> : {{customerDet.invoices[0].invoiceDate}}</td>
                </tr>
                <tr>
                    <td>DC No </td>
                    <td> : </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid rgba(222,226,230,1)">
        <table style="width: 100%;" class="table table-bordered">
            <thead >
                <th>Item Name</th>
                <th>Batch No</th>
                <th>Pkg</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>GST%</th>
                <th>C-GST</th>
                <th>S-GST</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of customerDet.invoices[0].productsList">
                    <td>{{product.productName}}</td>
                    <td>{{product.batchNo}}</td>
                    <td>{{product.packaging}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.cost}}</td>
                    <td>{{product.cost*product.quantity}}</td>
                    <td>{{product.gst}}</td>
                    <td>{{product.total*(product.gst/100)}}</td>
                    <td>{{product.total*(product.gst/100)}}</td>
                    <td>{{product.total}}</td>
                </tr>
                
                <tr>
                    <td colspan="3">Rs. One Thousand Nine Hundred Only..</td>
                    <td>3</td>
                    <td colspan="2">1747.02</td>
                    <td colspan="2">76.49</td>
                    <td>76.49</td>
                    <td>1900.00</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p style="color: gray">
                            Client Note: <br>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p><br>
                        <div class="row">
                            <div class="col-md-6">
                                <hr>
                                <p>Customer Signature</p>
                            </div>
                            <div class="col-md-6">
                                <!-- <img src="sign.jpg"> -->
                                <hr>
                                <p>Authority Signature</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="4">
                        <div class="row">
                            <div class="col-md-6">
                                Discount <br>
                                Paid <br>
                                Unpaid
                            </div>
                            <div class="col-md-6">
                                : 0.00 <br>
                                : 1900.00 <br>
                                : 0.00
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>